/* General Styles */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
    height: 100vh; 
    display: flex;
    flex-direction: column;
  }
  
  /* Container */
  .container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
  }
  
  /* Contact Us Section */
  .contact-us-section {
    max-width: 800px;
  }
  
  .contact-us-section h1 {
    font-size: 2rem;
    color: #173f84;
    margin-bottom: 20px;
    position: relative;
    text-align: center; 
    margin-top: 50px;
  }
  
  .contact-us-section h1::after {
    content: '';
    display: block;
    width: 28%; 
    height: 4px;
    background-color: #ef762f;
    margin: 0px auto 0 auto; 
    border-radius: 2px;
  }
  
  /* Contact Form */
  .contact-form {
    margin: 30px 0;
  }
  
  .contact-form form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 600px;
    margin: 0 auto;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  .contact-form button {
    background-color: #173f84;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .contact-form button:hover {
    background-color: #ef762f;
  }
  
  /* Additional Contact Information */
  .additional-info {
    margin-top: 20px;
  }
  
  .additional-info p {
    margin: 10px 0;
    font-size: 1.2rem;
  }
  
  .additional-info a {
    color: #173f84;
    text-decoration: none;
    font-weight: bold;
  }
  
  .additional-info a:hover {
    text-decoration: underline;
  }
  